<h1>URL Shortener</h1>
<%= turbo_frame_tag "short_link_frame" do %>>
<%= form_with(
      model: @short_link,
      url: short_links_path,
      method: :post,
      local: true,
    ) do |form| %>
  <%= form.url_field :target_url, placeholder: "Enter your URL here" %>
  <%= form.submit "Shorten URL" %>
<% end %>


<% if @short_link&.persisted? %>
  <div id="shortened-url">
    <h2>Shortened URL:</h2>
    <p>
      <strong>Short URL:</strong>
      <%= link_to "#{root_url}#{@short_link.short_code}", "#{root_url}#{@short_link.short_code}", target: "_blank" %>
    </p>
    <p>
      <strong>Original URL:</strong>
      <%= link_to @short_link.target_url, @short_link.target_url, target: "_blank" %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @short_link.title %>
    </p>
  </div>
<% end %>

<% if @short_link&.errors&.any? %>
  <div id="error-explanation">
    <h2>Errors:</h2>
    <ul>
      <% @short_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>