<div class="grid grid-cols-2 gap-8">
  <%= render Card::StatsComponent.new do %>
    <h3 class="text-lg font-medium">
      Total Clicks
    </h3>
    <p class="text-base font-normal">
      <%= total_clicks %>
    </p>
  <% end %>
  <%= render Card::StatsComponent.new do %>
    <h3 class="text-lg font-medium">
      Short Urls
    </h3>
    <p class="text-base font-normal">
      <%= "#{root_url}r/#{@short_link.short_code}" %>
    </p>
  <% end %>
  <%= render Card::StatsComponent.new do %>
    <h3 class="text-lg font-medium">
      Target Urls
    </h3>
    <p class="text-base font-normal">
      <%= @short_link.target_url %>
    </p>
  <% end %>
  <%= render Card::StatsComponent.new do %>
    <h3 class="text-lg font-medium">
      Title Of The Urls
    </h3>
    <p class="text-base font-normal">
      <%= @short_link.title %>
    </p>
  <% end %>
</div>
