<%= render Card::BaseComponent.new do %>
  <div class="flex flex-col gap-4">
    <%= render(TypographyComponent.new(variant: :h2)) do %>
      Time Analysis
    <% end %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <%= render Stats::TimePeriodListComponent.new(
        title: "Daily",
        period_label: "Date",
        data: daily
      ) %>
      <%= render Stats::TimePeriodListComponent.new(
        title: "Weekly",
        period_label: "Weeks",
        data: weekly
      ) %>
      <%= render Stats::TimePeriodListComponent.new(
        title: "Monthly",
        period_label: "Month",
        data: monthly
      ) %>
    </div>
  </div>
<% end %>